<h1 id="tableLabel">Cars</h1>

<p *ngIf="!products"><em>Loading...</em></p>

<div class="form-group has-search">
  <span class="fa fa-search form-control-feedback"></span>
  <input #search type="text" class="form-control" placeholder="Search">
</div>

<p class="description" *ngIf="products">Now showing {{products.length}} car{{products.length===1 ? '' : 's'}}.</p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Image</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.productName }}</td>
      <td>{{ product.unitPrice }}</td>
      <img src="/assets/images/cars/{{product.imagePath}}" />
      <td>{{ product.description }}</td>
      <input type="hidden" value="{{product.productId}}" />
    </tr>
  </tbody>
</table>
