<h1 id="tableLabel">Cars</h1>

<div class="form-group has-search">
  <span class="fa fa-search form-control-feedback"></span>
  <!--<input type="text" class="form-control" placeholder="Search" [formControl]="searchField">-->
  <input type="text" class="form-control" placeholder="Search" #searchInput (input)="search(searchInput.value)">
</div>

<!--<p *ngIf="loading"><em>Loading...</em></p>-->
<p class="description" *ngIf="($products | async)">Now showing {{($products | async)?.length}} car{{($products | async)?.length===1 ? '' : 's'}}.</p>

<table id="cars-table" class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Image</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of $products | async">
      <td>{{ product.productName }}</td>
      <td>{{ product.unitPrice }}</td>
      <img src="/assets/images/cars/{{product.imagePath}}" />
      <td>{{ product.description }}</td>
      <input type="hidden" value="{{product.productId}}" />
    </tr>
  </tbody>
</table>
