################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Wingtiptoys
/Wingtiptoys.Test/bin/Debug/netcoreapp3.1
/Wingtiptoys.Test/obj
